<footer>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-xs-12 small-print" id="footerlinks">
                <p><a href="#">Terms &amp; Conditions</a> | <a href="/">वाशिम जि.प.प्राथमिक शिक्षक सहकारी पत संस्था,
                        जिल्हा
                        वाशिम. रजि.नंबर 301
                    </a> | Contact - 8275286836
                </p>
                <p>Copyright &copy; washimzptps.com 2023 </p>
            </div>
            <div class="col-md-4 col-xs-12" id="number" >
                <!-- Start of CuterCounter Code -->
                <a href="https://www.cutercounter.com/" target="_blank"><img
                        src="https://www.cutercounter.com/hits.php?id=hvexncqpa&nd=9&style=48" border="0"
                        alt="visitor counter"></a>
                <!-- End of CuterCounter Code -->
            </div>
            <div class="col-md-4 col-xs-12" id="name" style="display: flex; justify-content: center; align-items: center;">
                <p>Created By Pawan Tech</p>
            </div>
        </div>
    </div>
</footer>

<script src="./js/file.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript  -->
<script src="./js/bootstrap.min.js"></script>

<!-- IE10 viewport bug workaround -->
<script src="./js/ie10-viewport-bug-workaround.js"></script>

<!-- Placeholder Images -->
<script src="./js/holder.min.js"></script>
</body>
</html>