<header>
    <div class="container-fluid">
        <div id="header-wrapper" class="wrapper">
            <a href="/" title="Home">
                <img class="img-responsive" id="mainlogo" src="./img/mainlogo.jpg" alt="Logo">
            </a>
        </div>
        <header class="p-1 bg-dark text-white">
            <div class="row">
                <div class="d-flex justify-content">
                    <div class="nav col-12 xs-12 me-auto mb-0 mb-md-0">
                        <button type="button" onclick="location.href='/'"
                            class="btn btn-outline-light me-2">Home</button>
                        <button type="button" onclick="location.href='/about'" class="btn btn-outline-light me-2">About
                            Us
                        </button>
                        <button type="button" onclick="location.href='/qrcode'" class="btn btn-outline-light me-2">QR
                            code
                        </button>
                        <button type="button" onclick="location.href='/services'"
                            class="btn btn-outline-light me-2">Services
                        </button>
                        <button type="button" onclick="location.href='/downloadpage'"
                            class="btn btn-outline-light me-2">Imp Download
                        </button>
                        <button type="button" onclick="location.href='/contact'"
                            class="btn btn-outline-light me-2">Contact Us
                        </button>


                        <button type="button" onclick="location.href='/photogaller'"
                            class="btn btn-outline-light me-2">Photo Galler
                        </button>


                        <button type="button" onclick="location.href='/photogallery'"
                            class="btn btn-outline-light me-2">Photo Gallery
                        </button>
                        <button type="button" onclick="location.href='https://jaganaru.blogspot.com/'"
                            class="btn btn-outline-light me-2">My Blog
                        </button>

                        <button type="button" onclick="location.href='/login'"
                            class="btn btn-outline-light me-2">Login</button>
                        <button type="button" onclick="location.href='/register'"
                            class="btn btn-outline-light">Signup</button>
                    </div>
                </div>
            </div>
        </header>
    </div>




















    <!-- <div class="col-6 col-md-8 col-lg-6 text-right">
        <nav class="navbar navbar-expand-md topNavbar" style="padding-bottom: 6px;">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link alumniButTop" href="https://alumni.mic.gov.in/" target="_blank">MIC Alumni</a>
            </li>

            <li class="nav-item">
              <a class="nav-link alumniButTop alumnilogin" href="/signin" style="padding:7px 15px 4px 15px !important;display: flex;justify-content: center;align-items: center;">
                Login/Register 
                <img style="height:25px;width:25px;margin: 0px 0px 0 5px;border-radius: 25px;" src="https://www.sih.gov.in/img1/login.png" alt=""></a>
            </li>
          </ul>
        </nav>
      </div> -->

</header>