<%- include('../partials/head') %>
<%- include('../partials/header') %>


<body>
    <div class="container">
        <div class="col-10">
            <div class="box">
                <div class="title" style="align-items: center;"><span>
                        <h3><b>संस्थेच्या सभासदांकरिता मुदत ठेव योजना
                        </b></h3>
                    </span>
                </div>
                <ol type="1">
                    <li><span><b>आवर्ती ठेव (आर. डी. ) :-</b></span> या योजनेमध्ये दरमहा रु. १००/- किंवा
                        त्याचे
                        पटीत
                        रक्कम
                        ठेवता येईल या वरील व्याज दर हा द.सा.द.शे. ८% राहील. ठेव ही ३६ महीने पुर्ण झल्यानंतरच
                        व्याज
                        दिले
                        जाईल. आवर्ती ठेव थकीत हप्त्यावर २% दंड व्याज आकारल्या जाईल.</li>
                    <li><span><b> सदाफुली</b></span> या मुदती ठेव योजने अंतर्गत गुंतवणुक करणारास द.सा.द.शे.
                        ७%
                        दराप्रमाणे
                        दरमहा व्याज देण्यात येणार आहे. या योजनेमध्ये रु. २५०००/- (अक्षरी पंचविस हजार रुपये
                        फक्त)
                        चे
                        पटीत
                        गुंतवणुक करणे आवश्यक आहे. या योजनेमध्ये : दरमहा मिळणारे व्याज ठेवीदार सभासदांच्या
                        ऐ.डी.सी.सी. अकोला
                        बँकेचे सें ठेव खात्यात जमा करण्यात येईल. वरील ठेव ही कमीत कमी ९० दिवस संस्थेकडे जमा
                        असली
                        पाहीजे. ९०
                        दिवसांच्या अगोदर सदाफुली ठेव परत मागितल्यास संस्थेने त्या ठेवीवरील सभासदांचे सें.
                        ठेव
                        खाती
                        जमा
                        केलेले व्याज ठेवीच्या रक्कमेतून कपात करुन ठेव परत केल्या जाईल. या योजनेमध्ये रक्कम
                        आपले
                        बँकेचे
                        खात्यात जमा करण्यात येईल. </li>
                    <li><span><b> मुदती ठेवी </b></span> व्याज दर द.सा.देश. ७% राहील.</li>
                    <li><span><b>लक्षाधिश मुदत ठेव :</b></span> या ठेवीमध्ये एक रक्कमी रु. १४८२००/- किंवा
                        रु.
                        ७४१००/- जमा
                        करता येतील. व ही रक्कम संस्थेमध्ये ५ वर्षाकरिता जमा राहील.
                        <ol><span><b>अ.</b></span> रु. १४८२००/- पाच वर्षानंतर रु. २०००७०/-</ol>
                        <ol><span><b>ब.</b></span>रु. ७४१०० /- पाच वर्षानंतर रु. १०००३५/-</ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-10">
            <div class="box">
                <div class="title" style="text-align: center;"><span>
                        <h3><b>मुदती ठेवीचे नियम व अटी</b></h3>
                    </span>
                </div>
                <ol type="1">
                    <li> ठेविदारांकडून ठेवीमध्ये गुंतविण्यात येणारी रक्कम ही रु. १०००/- (एक हजार) च्या पटीत
                        असावी.
                    </li>
                    <li> गुंतविलेली सभासद मु.ठेव, लक्षाधीश मुदती ठेव रक्कम मुदत पूर्व ठेविदारांच्या मागणी
                        नुसार
                        परत
                        करावयाची
                        असल्यास अशी परत करावयाची मुदत ठेव रक्कम ५% व्याजासह परत करण्यात येईल.</li>
                    <li> ठेवदारास मुदती ठेव मुदत पूर्व परत पाहिजे असल्यास त्याची सुचना संस्थेला तीन दिवस आधी
                        द्यावी
                        लागेल.
                    </li>
                    <li>मुदती ठेवीची संस्थेने दिलेली पावती ठेवीची रक्कम परत नेतांना सादर केल्याशिवाय रक्कम
                        परत
                        मिळणार नाही.
                    </li>
                    <li>मुदती ठेवीची संस्थेने दिलेली पावती हरविल्यास / गहाळ झाल्यास / समजण्या इतपत खराब
                        झाल्यास
                        रु.
                        २५/-
                        भरून तसा अर्ज रु ५०/- चे स्टॅम्प पेपरवर प्रतिज्ञापत्र दिल्यास ड्युप्लीकेट पावती
                        देण्यात
                        येईल.</li>
                    <li>ठेवीची मुदत संपल्यावर ठेवीची रक्कम परत नेण्याची जबाबदारी ठेवीदाराची राहील. मुदती
                        नंतरच्या
                        कालावधीसाठी कोणत्याही प्रकारचे व्याज देण्यात येणार नाही.</li>
                    <li>मुदती ठेवीचे नुतनीकरण करावयाचे असल्यास मुदत संपण्यापुर्वी लेखी अर्ज संस्थेकडे करावा
                        लागेल.
                        वरील सर्व
                        अटीची पुर्तता करावी लागेल.</li>
                    <li>सदाफुली, लक्षाधिश या मुदती ठेवीच्या रक्कमेवर ७५% कर्ज सुविधा उपलब्ध करण्यात आली आहे.
                    </li>
                </ol>
            </div>
        </div>
    </div>

</body>

<%- include('../partials/footer') %>