<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="container">
        <h1>Blog-Page</h1>
        <form action=""  method="POST"  enctype="multipart/form-data">
            

        </form>
    </div>
    

</body>

<%- include('../partials/footer') %>