<%- include('../partials/head') %>
    <%- include('../partials/header') %>


        <body>
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="table1">
                            <div class="title" style="text-align: center;">
                                <span>
                                    <h3><b>वाशिम जिल्हा परिषद प्राथमिक शिक्षक सहकारी पत संस्था मर्यादित, वाशिम र.नं.
                                            ३०१</b></h3>
                                </span>
                            </div>
                            <span style="text-align: center;">
                                <h4><b>मुख्य कार्यालय : सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर, वाशिम</b></h4>
                            </span>
                    </div>
                </div>
                <thead>
                    <tr>
                        <th scope="col-md-2">अ.क्र.</th>
                        <th scope="col-md-3">कार्यालयाचे नांव</th>
                        <th scope="col-md-3">शाखाधिकारी मोबा नं.</th>
                        <th scope="col-md-3">कार्यालयाचा पत्ता</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><b>मुख्य कार्यालय</b></td>
                        <td>९६३७७२१९६९३</td>
                        <td>सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर, वाशिम</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>शाखा वाशिम</td>
                        <td>९७६४१०८१३३</td>
                        <td>सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर, वाशिम</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td> शाखा मालेगांव</td>
                        <td>८८८८५९५४१७</td>
                        <td>जि.प.प्राथ. आरोग्य केंद्रा समोर, मालेगांव जि. वाशिम</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>शाखा रिसोड</td>
                        <td>९७६४९३९३२०</td>
                        <td>अनत कॉलनी डॉ. बाठोरे यांचे दवाखान्याजवळ, रिसोड</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>शाखा मंगरुळपीर</td>
                        <td>9130675643</label></td>
                        <td>एस.टी. स्टॅन्ड जवळ, मंगरुळपीर जि. वाशिम</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>शाखा मानोरा</td>
                        <td>९४०४८५७१४९</td>
                        <td>संभाजी नगर, पंचायत समिती समोर मानोरा जि. वाशिम</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>शाखा कारंजा</td>
                        <td>८७८८०१७०९२</td>
                        <td>संतोषी माता कॉलनी, कारंजा जि. वाशिम</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </body>
        <%- include('../partials/footer') %>