<%- include('../partials/head') %>
	<%- include('../partials/header') %>

		<body>
			<div class="container-fluid">
				<!-- <div class="container"> -->
				<div class="row">
					<div class="col-12 col-md-4" id="loginpg">
						<div class="column">
							<div class="card" style="text-align: center;">
								<h3><b>पतसंस्था एका दृष्टीक्षेपात</b></h3>
								<ol> सभासद संख्या २४९२</ol>
								<ol> भागभांडवल रुपये १८८७९५०००</ol>
								<ol> कर्ज बाकी रुपये ८३४१०८६८८</ol>
								<ol> सभासद ठेवी रुपये ६६२५७२५३९</ol>
								<ol> बँक शेअर्स रुपये १५२४२०००</ol>
								<ol>बँक ठेवी रुपये ७७४११३८४</ol>
								<ol> नफा रुपये २३२७८५८५</ol>
							</div>
						</div>
					</div>

					<div class=" col-12 col-md-8">
						<div class="title" style="text-align: center;"><span>
								<h3><b>सभासद हिताच्या योजना</b></h3>
							</span></div>
						<ol>सदाफुली, लक्षाधिश, आवर्ती ठेव व इतर मुदत ठेवी. </ol>
						<ol> आवर्ती ठेव वगळुन इतर ठेवीवर कर्ज वाटप. </ol>
						<ol>सेवानिवृत्त प्राथ. शिक्षकांचा सपत्नीक सत्कार - गुणवंत विद्यार्थ्यांचा सत्कार </ol>
						<ol> सेवेत असतांना मय्यत झालेल्या सभासदांचे १०० टक्के कर्ज माफ योजना</ol>
						<ol>सभासदांच्या कुटुंबाकरीता सांत्वना निधी तात्काळ मदत रु. ३००००/- व कर्ज निरंक असल्यास
							रु.
							३,00,000/- </ol>
						<ol> संस्थेचे मुख्य कार्यालय व सहा शाखा स्वमालकीच्या इमारतीमध्ये आहेत. सर्व शाखा
							संगणीकृत
							प्रणालीद्वारे अद्यावत.</ol>
						<ol>सभासदाच्या कायम ठेवीवर द.सा.द.शे. ०९ % व्याज दिले जाते. सभासद कर्जाचा व्याजदर
							द.सा.द.शे.
							११%
						</ol>
						<ol>स.सा. कर्ज रु. १५ लाख व आकस्मीत कर्ज रु. ५० हजार पर्यंत. संस्थेचे सभासदांना
							स्वनिधीतून
							कर्ज वाटप
						</ol>
						<ol>आर. डी. वरील व्याजदर द.सा.द.शे. ०८ %</ol>
						<ol>Q. R. कोड द्वारे घरबसल्या रक्कम स्विकारण्याची सुविधा उपलब्ध.</ol>
						<ol>सभासदांना रु. २० लक्ष अपघात विमा संरक्षण (ऐच्छीक)</ol>
						<ol>मासिक वर्गणी जिल्हा स्तरावरुन सरळ शाखेत जमा करण्याची सुविधा.</ol>
						<ol> व्यवहाराची SMS द्वारे सभासदांना सूचना देण्यात येते.</ol>
						<ol>सेवानिवृत्त शिक्षकांना नाममात्र सभासदत्व देवून ठेवी ठेवणे व त्यावरील कर्जाची सुविधा
						</ol>
					</div>
				</div>
				<div class="box">
					<div class="title" style="text-align: center;"><span>
							<h3><b>सभासदांना आवश्यक सूचना व माहिती</b></h3>
						</span></div>
					<ol type="1">
						<li>संस्थेची कार्यालयीन वेळ सकाळी १० ते सायंकाळी ६ वा. दूसरा व चौथा शनिवार
							सुट्टी
							साप्ताहिक
							सुट्टीचा
							दिवस शुक्रवार व इतर सार्वजनिक सुट्टया</li>
						<li>आपल्या वेतनातून कपात झालेली रक्कम संस्थेत जमा झाली किंवा नाही ह्या बाबत
							खात्री करुन
							घ्यावी. तसेच
							रोखीने भरलेल्या रक्कमेची अधिकृत पावती घ्यावी.</li>
						<li>संबंधीत शाखेवरुन सभासदांना सन २०२२-२०२३ चे खाते उतारा स्लिप देणे सुरु आहे.
						</li>
						<li>संगणकीकरणामुळे आपल्या खात्यात चुक झाल्यास सभासदाने त्वरीत शाखाधिकाऱ्यास
							कळवावे.</li>
						<li>सभासदांची बदली झाली असेल त्यांनी ताबडतोब नविन कार्यालयाचा पत्ता संस्थेस लेखी
							कळवून
							खाते
							स्थानांतरण
							करण्याकरिता अर्ज सादर करावा.</li>
						<li> प्रत्येक सभासदांनी संस्थेच्या मागणी यादी प्रमाणेच कपात करण्याचे धोरण
							स्विकारावे.
						</li>
						<li>सभासदांना कोणत्याही प्रकारची संस्थेसंबंधीत अडचण आल्यास हेड ऑफीस चे
							पत्याद्वारे
							पोष्टाद्वारे कळवावे.
						</li>
						<li>संस्थेच्या सभासदांनी गुंतवणूक करावयाचे दृष्टीने मुदत ठेवी तसेच सदाफुली,
							लक्षाधिश ठेव
							व
							आवर्ती ठेव
							(आर.डी.) योजना सुरु आहे.</li>
						<li>शाखास्तरावर सभासदांचे आकस्मिक कर्ज मंजुर करण्याचे अधिकार प्रदान करण्यात आले
							आहेत.
						</li>
						<li>सभासदांनी ऑनलाईन रक्कम संस्थेला पाठविल्या नंतर झालेल्या व्यवहाराचा तपशिल
							संबंधीत
							शाखाधिकारी यांना
							पाठवावा तसचे ऑनलाईन झालेल्या व्यवहाराचा पाठपुरावा करावा. जेणे करुन संस्थेला
							व्यवहाराची
							नोंद घेण्यास
							विलंब होणार नाही</li>
					</ol>
				</div>
				<!-- </div> -->

				<!-- <div class="container"> -->
				<div class="col-md-12 xl-10">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-bordered" id="table1">
								<div class="title" style="text-align: center;">
									<span>
										<h3><b>वाशिम जिल्हा परिषद प्राथमिक शिक्षक सहकारी पत संस्था मर्यादित,
												वाशिम र.नं.
												३०१</b></h3>
									</span>
								</div>
								<span style="text-align: center;">
									<h4><b>मुख्य कार्यालय : सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर,
											वाशिम</b></h4>
								</span>
						</div>
					</div>
					<thead>
						<tr>
							<th scope="col-md-2">अ.क्र.</th>
							<th scope="col-md-3">कार्यालयाचे नांव</th>
							<th scope="col-md-3">शाखाधिकारी मोबा नं.</th>
							<th scope="col-md-4">कार्यालयाचा पत्ता</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td><b>मुख्य कार्यालय</b></td>
							<td>९६३७७२१९६९३</td>
							<td>सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर, वाशिम</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>शाखा वाशिम</td>
							<td>९७६४१०८१३३</td>
							<td>सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर, वाशिम</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td> शाखा मालेगांव</td>
							<td>८८८८५९५४१७</td>
							<td>जि.प.प्राथ. आरोग्य केंद्रा समोर, मालेगांव जि. वाशिम</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>शाखा रिसोड</td>
							<td>९७६४९३९३२०</td>
							<td>अनत कॉलनी डॉ. बाठोरे यांचे दवाखान्याजवळ, रिसोड</td>
						</tr>
						<tr>
							<th scope="row">5</th>
							<td>शाखा मंगरुळपीर</td>
							<td>९९२११६१९७८</label></td>
							<td>एस.टी. स्टॅन्ड जवळ, मंगरुळपीर जि. वाशिम</td>
						</tr>
						<tr>
							<th scope="row">6</th>
							<td>शाखा मानोरा</td>
							<td>९४०४८५७१४९</td>
							<td>संभाजी नगर, पंचायत समिती समोर मानोरा जि. वाशिम</td>
						</tr>
						<tr>
							<th scope="row">7</th>
							<td>शाखा कारंजा</td>
							<td>८७८८०१७०९२</td>
							<td>संतोषी माता कॉलनी, कारंजा जि. वाशिम</td>
						</tr>
					</tbody>
					</table>
				</div>
				<!-- </div> -->
			</div>
		</body>

		<%- include("../partials/footer") %>
		</html>