<%- include('../partials/head') %>
	<%- include('../partials/header') %>

		<body>
			<div class="container-fluid">
				<div class="col-md-12 padding0px">
					<div id="side-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#side-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#side-carousel" data-slide-to="1"></li>
							<li data-target="#side-carousel" data-slide-to="2"></li>
							<li data-target="#side-carousel" data-slide-to="3"></li>
							<li data-target="#side-carousel" data-slide-to="4"></li>
							<li data-target="#side-carousel" data-slide-to="5"></li>
							<li data-target="#side-carousel" data-slide-to="6"></li>
						</ol>
						<div class="carousel-inner" role="listbox" id="slidingimage">
							<div class="item active">
								<a href="#">
									<img class="img-responsive" id="" src="./img/builingimage.jpg" alt="slide1">
								</a>
								<div class="caption">
									<p>वाशिम जि.प.शिक्षक सह. पतसंस्था, मर्यादित वाशिम </p>
								</div>
							</div>
							<div class="item">
								<a href="#">
									<img class="img-responsive" src="./img/slide1.jpg" alt="slide2">
								</a>
								<div class="caption">
									<p>वाशिम जि.प.शिक्षक सह. पतसंस्था, मर्यादित वाशिम </p>
								</div>
							</div>
							<div class="item">
								<a href="#">
									<img class="img-responsive" src="./img/slide2.jpg" alt="slide3">
								</a>
								<div class="caption">
									<p>वाशिम जि.प.शिक्षक सह. पतसंस्था, मर्यादित वाशिम </p>
								</div>
							</div>
							<div class="item">
								<a href="#">
									<img class="img-responsive" src="./img/slide3.jpg" alt="slide4">
								</a>
								<div class="caption">

									<p>वाशिम जि.प.शिक्षक सह. पतसंस्था, मर्यादित वाशिम </p>
								</div>
							</div>
							<div class="item">
								<a href="#">
									<img class="img-responsive" src="./img/slide4.jpg" alt="slide5">
								</a>
								<div class="caption">

									<p>वाशिम जि.प.शिक्षक सह. पतसंस्था, मर्यादित वाशिम </p>
								</div>
							</div>
							<div class="item">
								<a href="#">
									<img class="img-responsive" src="./img/slide5.jpg" alt="slide6">
								</a>
								<div class="caption">

									<p>वाशिम जि.प.शिक्षक सह. पतसंस्था, मर्यादित वाशिम </p>
								</div>
							</div>
							<div class="item">
								<a href="#">
									<img class="img-responsive" src="./img/slide6.jpg" alt="slide7">
								</a>
								<div class="caption">

									<p>वाशिम जि.प.शिक्षक सह. पतसंस्था, मर्यादित वाशिम </p>
								</div>
							</div>
						</div>

						<a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>

				<!-- <div id="main"> -->
				<!-- <div class="container"> -->
				<marquee id="scrollnotice" bgcolor="#e33532" style="padding: 0px"> <strong>
						या website वर आपले सहर्ष स्वागत आहे . पतसंस्थेच्या सर्व उपक्रमांची माहिती या ठिकाणी आपल्याला
						पहावयास मिळेल . वेबसाईटचे अद्यावत करणे सुरू आहे
					</strong>
				</marquee>


				<marquee scrolldelay="50" id="scroll_news"
				style="font-family:Book Antiqua; font-weight: bold; color: #FFFFFF; padding: 10px 0 5px 0; background: #000000;"
				bgcolor="#394787">
			    </marquee>
				<!-- <marquee direction="right" behavior="alternate" style="border:BLACK 2px SOLID">
					या ब्लॉगमध्ये आपले स्नेहील स्वागत आहे.
				</marquee> -->
				<!-- </div> -->




				<div class="container-fluid" id="profiledetailsimg">
					<div class="row">
						<div class="col-12 col-md-6 xs-10">
							<!-- <div class="rounded float"> -->
							<img src="./img/profiledetails.png" class="img-responsive" alt="">
							<!-- </div> -->
						</div>

						<div class="col-12 col-md-6 xs-10">
							<div class="box">
								<div class="table-responsive">
									<!-- <div class="row"> -->
									<table class="table table-bordered">
										<div class="title" style="text-align: center; "><span>
												<h3><b>विद्यमान संचालक मंडल</b></h3>
											</span>
										</div>
										<thead>
											<tr>
												<th scope="col">अ.क्र.</th>
												<th scope="col">नांव</th>
												<th scope="col">पद</th>
												<th scope="col">पं. स.</th>
												<th scope="col">मोबाईल नंबर</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>श्री. दत्तात्रय केशवराव इढोळे</td>
												<td>अध्यक्ष</td>
												<td>वाशिम</td>
												<td>९८२३५४०१४९</td>
											</tr>
											<tr>
												<th scope="row">2</th>
												<td>श्री. विजय रामचंद्र मनवर</td>
												<td>उपाध्यक्ष</td>
												<td>वाशिम</td>
												<td>९८२२२२६६५२</td>
											</tr>
											<tr>
												<th scope="row">3</th>
												<td>श्री. जगन्नाथ विठोबा आरु</td>
												<td>संचालक</td>
												<td>वाशिम</td>
												<td>८२७५२८६८३६</td>
											</tr>
											<tr>
												<th scope="row">4</th>
												<td>श्री. प्रशांत उत्तमराव वाझुळकर</td>
												<td>संचालक</td>
												<td>मालेगांव</td>
												<td>९४२१७४६१८१</td>
											</tr>
											<tr>
												<th scope="row">5</th>
												<td>श्री. रामचंद्र सुर्यभान इंगळे</td>
												<td>संचालक</td>
												<td>वाशिम</td>
												<td>९९२२९५५८९९</td>
											</tr>
											<tr>
												<th scope="row">6</th>
												<td>सौ. सुजाता अजयकुमार कटके</td>
												<td>संचालिका</td>
												<td>मंगरुळपीर</td>
												<td>९५२७८४८०११</td>
											</tr>
											<tr>
												<th scope="row">7</th>
												<td>कु. संध्या बाबाराव अढाऊ (बांडे)</td>
												<td>संचालिका</td>
												<td>कारंजा</td>
												<td>९९२३१५३८९५</td>
											</tr>
											<tr>
												<th scope="row">8</th>
												<td>श्री. राजु विश्वनाथ मते</td>
												<td>संचालक</td>
												<td>कारंजा</td>
												<td>९८८१५६००८४</td>
											</tr>
											<tr>
												<th scope="row">9</th>
												<td>श्री. मंचकराव भुजंगराव तायडे</td>
												<td>संचालक</td>
												<td>मालेगांव</td>
												<td>८२७५३११७६०</td>
											</tr>
											<tr>
												<th scope="row">10</th>
												<td>श्री. सतीश शेषराव घुगे</td>
												<td>संचालक</td>
												<td>रिसोड</td>
												<td>९०४९४२५०२३</td>
											</tr>
											<tr>
												<th scope="row">11</th>
												<td>श्री. सतीश विनायकराव सांगळे</td>
												<td>संचालक</td>
												<td>मालेगांव</td>
												<td>७८७५३६५२३६</td>
											</tr>
											<tr>
												<th scope="row">12</th>
												<td>श्री. किशोर नारायण जुनघरे</td>
												<td>तज्ञ संचालक</td>
												<td>रिसोड</td>
												<td>७५०७०३१८८८</td>
											</tr>
											<tr>
												<th scope="row">13</th>
												<td>श्री. पुरुषोत्तम शिवराम तायडे</td>
												<td>तज्ञ संचालक</td>
												<td>वाशिम</td>
												<td>८८८८२७७५६६</td>
											</tr>
											<tr>
												<th scope="row">14</th>
												<td>श्री. शंकर मधुकर घुले</td>
												<td>व्यवस्थापक मु.का.</td>
												<td>वाशिम (मु.का)</td>
												<td>९६३७७२१६९३</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- <div class="container"> -->
				<div class="row">
					<div class="col-12 col-md-4" id="loginpg">
						<div class="column">
							<div class="card" style="text-align: center;">
								<h3><b>पतसंस्था एका दृष्टीक्षेपात</b></h3>
								<ol> सभासद संख्या २४९२</ol>
								<ol> भागभांडवल रुपये १८८७९५०००</ol>
								<ol> कर्ज बाकी रुपये ८३४१०८६८८</ol>
								<ol> सभासद ठेवी रुपये ६६२५७२५३९</ol>
								<ol> बँक शेअर्स रुपये १५२४२०००</ol>
								<ol>बँक ठेवी रुपये ७७४११३८४</ol>
								<ol> नफा रुपये २३२७८५८५</ol>
							</div>
						</div>
					</div>

					<div class=" col-12 col-md-8">
						<div class="title" style="text-align: center;"><span>
								<h3><b>सभासद हिताच्या योजना</b></h3>
							</span></div>
						<ol>सदाफुली, लक्षाधिश, आवर्ती ठेव व इतर मुदत ठेवी. </ol>
						<ol> आवर्ती ठेव वगळुन इतर ठेवीवर कर्ज वाटप. </ol>
						<ol>सेवानिवृत्त प्राथ. शिक्षकांचा सपत्नीक सत्कार - गुणवंत विद्यार्थ्यांचा सत्कार </ol>
						<ol> सेवेत असतांना मय्यत झालेल्या सभासदांचे १०० टक्के कर्ज माफ योजना</ol>
						<ol>सभासदांच्या कुटुंबाकरीता सांत्वना निधी तात्काळ मदत रु. ३००००/- व कर्ज निरंक असल्यास
							रु.
							३,00,000/- </ol>
						<ol> संस्थेचे मुख्य कार्यालय व सहा शाखा स्वमालकीच्या इमारतीमध्ये आहेत. सर्व शाखा
							संगणीकृत
							प्रणालीद्वारे अद्यावत.</ol>
						<ol>सभासदाच्या कायम ठेवीवर द.सा.द.शे. ०९ % व्याज दिले जाते. सभासद कर्जाचा व्याजदर
							द.सा.द.शे.
							११%
						</ol>
						<ol>स.सा. कर्ज रु. १५ लाख व आकस्मीत कर्ज रु. ५० हजार पर्यंत. संस्थेचे सभासदांना
							स्वनिधीतून
							कर्ज वाटप
						</ol>
						<ol>आर. डी. वरील व्याजदर द.सा.द.शे. ०८ %</ol>
						<ol>Q. R. कोड द्वारे घरबसल्या रक्कम स्विकारण्याची सुविधा उपलब्ध.</ol>
						<ol>सभासदांना रु. २० लक्ष अपघात विमा संरक्षण (ऐच्छीक)</ol>
						<ol>मासिक वर्गणी जिल्हा स्तरावरुन सरळ शाखेत जमा करण्याची सुविधा.</ol>
						<ol> व्यवहाराची SMS द्वारे सभासदांना सूचना देण्यात येते.</ol>
						<ol>सेवानिवृत्त शिक्षकांना नाममात्र सभासदत्व देवून ठेवी ठेवणे व त्यावरील कर्जाची सुविधा
						</ol>
					</div>
				</div>
				<!-- </div> -->



				<!-- <div class="container"> -->
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="rounded float">
							<img id="graph" src="./img/graph.png" class="img-responsive" alt="">
						</div>
					</div>
				</div>
				<!-- 
						</div>
					</div>
					style="margin-inline: 10px;" -->
				<!-- <div class="container"> -->
				<div class="box">
					<div class="title" style="text-align: center;"><span>
							<h3><b>सभासदांना आवश्यक सूचना व माहिती</b></h3>
						</span></div>
					<ol type="1">
						<li>संस्थेची कार्यालयीन वेळ सकाळी १० ते सायंकाळी ६ वा. दूसरा व चौथा शनिवार
							सुट्टी
							साप्ताहिक
							सुट्टीचा
							दिवस शुक्रवार व इतर सार्वजनिक सुट्टया</li>
						<li>आपल्या वेतनातून कपात झालेली रक्कम संस्थेत जमा झाली किंवा नाही ह्या बाबत
							खात्री करुन
							घ्यावी. तसेच
							रोखीने भरलेल्या रक्कमेची अधिकृत पावती घ्यावी.</li>
						<li>संबंधीत शाखेवरुन सभासदांना सन २०२२-२०२३ चे खाते उतारा स्लिप देणे सुरु आहे.
						</li>
						<li>संगणकीकरणामुळे आपल्या खात्यात चुक झाल्यास सभासदाने त्वरीत शाखाधिकाऱ्यास
							कळवावे.</li>
						<li>सभासदांची बदली झाली असेल त्यांनी ताबडतोब नविन कार्यालयाचा पत्ता संस्थेस लेखी
							कळवून
							खाते
							स्थानांतरण
							करण्याकरिता अर्ज सादर करावा.</li>
						<li> प्रत्येक सभासदांनी संस्थेच्या मागणी यादी प्रमाणेच कपात करण्याचे धोरण
							स्विकारावे.
						</li>
						<li>सभासदांना कोणत्याही प्रकारची संस्थेसंबंधीत अडचण आल्यास हेड ऑफीस चे
							पत्याद्वारे
							पोष्टाद्वारे कळवावे.
						</li>
						<li>संस्थेच्या सभासदांनी गुंतवणूक करावयाचे दृष्टीने मुदत ठेवी तसेच सदाफुली,
							लक्षाधिश ठेव
							व
							आवर्ती ठेव
							(आर.डी.) योजना सुरु आहे.</li>
						<li>शाखास्तरावर सभासदांचे आकस्मिक कर्ज मंजुर करण्याचे अधिकार प्रदान करण्यात आले
							आहेत.
						</li>
						<li>सभासदांनी ऑनलाईन रक्कम संस्थेला पाठविल्या नंतर झालेल्या व्यवहाराचा तपशिल
							संबंधीत
							शाखाधिकारी यांना
							पाठवावा तसचे ऑनलाईन झालेल्या व्यवहाराचा पाठपुरावा करावा. जेणे करुन संस्थेला
							व्यवहाराची
							नोंद घेण्यास
							विलंब होणार नाही</li>
					</ol>
				</div>
				<!-- </div> -->

				<!-- <div class="container"> -->
				<div class="col-md-12 xl-10">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-bordered" id="table1">
								<div class="title" style="text-align: center;">
									<span>
										<h3><b>वाशिम जिल्हा परिषद प्राथमिक शिक्षक सहकारी पत संस्था मर्यादित,
												वाशिम र.नं.
												३०१</b></h3>
									</span>
								</div>
								<span style="text-align: center;">
									<h4><b>मुख्य कार्यालय : सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर,
											वाशिम</b></h4>
								</span>
						</div>
					</div>
					<thead>
						<tr>
							<th scope="col-md-2">अ.क्र.</th>
							<th scope="col-md-3">कार्यालयाचे नांव</th>
							<th scope="col-md-3">शाखाधिकारी मोबा नं.</th>
							<th scope="col-md-4">कार्यालयाचा पत्ता</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td><b>मुख्य कार्यालय</b></td>
							<td>९६३७७२१९६९३</td>
							<td>सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर, वाशिम</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>शाखा वाशिम</td>
							<td>९७६४१०८१३३</td>
							<td>सिव्हील लाईन हायवे रोड, हॉटेल मनिप्रभा समोर, वाशिम</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td> शाखा मालेगांव</td>
							<td>८८८८५९५४१७</td>
							<td>जि.प.प्राथ. आरोग्य केंद्रा समोर, मालेगांव जि. वाशिम</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>शाखा रिसोड</td>
							<td>९७६४९३९३२०</td>
							<td>अनत कॉलनी डॉ. बाठोरे यांचे दवाखान्याजवळ, रिसोड</td>
						</tr>
						<tr>
							<th scope="row">5</th>
							<td>शाखा मंगरुळपीर</td>
							<td>९९२११६१९७८</label></td>
							<td>एस.टी. स्टॅन्ड जवळ, मंगरुळपीर जि. वाशिम</td>
						</tr>
						<tr>
							<th scope="row">6</th>
							<td>शाखा मानोरा</td>
							<td>९४०४८५७१४९</td>
							<td>संभाजी नगर, पंचायत समिती समोर मानोरा जि. वाशिम</td>
						</tr>
						<tr>
							<th scope="row">7</th>
							<td>शाखा कारंजा</td>
							<td>८७८८०१७०९२</td>
							<td>संतोषी माता कॉलनी, कारंजा जि. वाशिम</td>
						</tr>
					</tbody>
					</table>
				</div>
				<!-- </div> -->

				<!-- <div class="container"> -->
				<div class="col-md-12 xl-10x">
					<div class="row">
						<div class="table-responsive">
							<!-- <div class="row"> -->
							<table class="table table-bordered" id="table1">
								<div class="title"><span>
										<h3><b>संस्थेचा तुलनात्मक प्रगती दर्शविणारा तक्ता</b></h3>
									</span></div>
								<thead>
									<tr>
										<th scope="col-2">अ.क्र.</th>
										<th scope="col-2">अहवाल वर्ष</th>
										<th scope="col-2">२०१९-२०२०</th>
										<th scope="col-2">२०२० २०२१</th>
										<th scope="col-2">२०२१ २०२२</th>
										<th scope="col-2">२०२२ २०२३</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>सभासद संख्या</td>
										<td>२५५२</td>
										<td>२६११</td>
										<td>२५४२</td>
										<td>२४९२</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>भाग भांडवल</td>
										<td>१५२८८५७००</td>
										<td>१६७२६६१००</td>
										<td>१७४५७९१००</td>
										<td>१८८७९५०००</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>राखीव निधी</td>
										<td>५१३५४४०७</td>
										<td>५४५८०१२२</td>
										<td>५६८७११७३</td>
										<td>६२९८२८६५</td>
									</tr>
									<tr>
										<th scope="row">4</th>
										<td>कर्ज वाटप</td>
										<td>३९५३४३०००</td>
										<td>४३३६०२०००</td>
										<td>३२९६७३०००</td>
										<td>५६३६८९५२७</td>
									</tr>
									<tr>
										<th scope="row">5</th>
										<td>वर्षात कर्ज वसुली</td>
										<td>३३३११३४६९</td>
										<td>३२३५६५४९२</td>
										<td>३५४६०४५९१</td>
										<td>४२९२९५३४८</td>
									</tr>
									<tr>
										<th scope="row">6</th>
										<td>कर्ज बाकी</td>
										<td>६१४६०९५६५</td>
										<td>७२४६४६०७३</td>
										<td>६९९७१४४८२</td>
										<td>८३४१०८६८८</td>
									</tr>
									<tr>
										<th scope="row">7</th>
										<td>कर्जदार सभासद</td>
										<td>१४०६</td>
										<td>१३५१</td>
										<td>१२१५</td>
										<td>१४९४</td>
									</tr>
									<tr>
										<th scope="row">8</th>
										<td>सभासद ठेवी</td>
										<td>५६२१०४०६४</td>
										<td>६०७४६५२०७</td>
										<td>६१५०३२२८३</td>
										<td>६६२५७२५३९</td>
									</tr>
									<tr>
										<th scope="row">9</th>
										<td>नफा</td>
										<td>१२८७८२६३</td>
										<td>९१४३१९८</td>
										<td>१२५३२८१२</td>
										<td>२३२७८५८५</td>
									</tr>
									<tr>
										<th scope="row">10</th>
										<td>लाभांश प्रतिशत</td>
										<td>७%</td>
										<td>५%</td>
										<td>५%</td>
										<td>१०%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</body>

		<%- include("../partials/footer") %>
		</html>