<%- include('../partials/head') %>
    <%- include('../partials/header') %>

<!-- 
    <div class="container-fluid" style="background-color: blue;">
        <div class="col-sm-3 md-3 col-xs-10">
            <h1>Pawan</h1>


        </div>
    </div> -->

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="./img/img_forest.jpg">
            <img src="./img/img_forest.jpg" alt="Image1" width="60" height="40">
          </a>
          <div class="desc">Image-caption#1</div>
        </div>
    </div>

    
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./img/img_forest.jpg">
        <img src="./img/img_forest.jpg" alt="Forest" width="60" height="40">
      </a>
      <div class="desc">Image-caption#2</div>
    </div>
</div>
  
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./img/img_forest.jpg">
        <img src="./img/img_forest.jpg" alt="Northern Lights" width="60" height="40">
      </a>
      <div class="desc">Image-caption#3</div>
    </div>
</div>
  
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./img/img_forest.jpg">
        <img src="./img/img_forest.jpg" alt="Mountains" width="60" height="40">
      </a>
      <div class="desc">Image-caption#4</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./img/img_forest.jpg">
        <img src="./img/img_forest.jpg" alt="Mountains" width="60" height="40">
      </a>
      <div class="desc">Image-caption#5</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="./img/img_forest.jpg">
        <img src="./img/img_forest.jpg" alt="Mountains" width="60" height="40">
      </a>
      <div class="desc">Image-caption#6</div>
    </div>
</div>
  
<div class="clearfix"></div>








        <%- include('../partials/footer') %>