<%- include('../partials/head') %>
    <%- include('../partials/header') %>


    <div class="container-fluid" style="background-color: blue;">
        <div class="col-sm-3 md-3 col-xs-10">
            <h1>Pawan</h1>


        </div>
    </div>






        <%- include('../partials/footer') %>