<%- include('../partials/head') %>
    <%- include('../partials/header') %>

        <body>
            <div class="container">
                <div class=" col-12 col-md-10">
                    <div class="title" style="text-align: center;"><span>
                            <h3><b>सभासद हिताच्या योजना</b></h3>
                        </span></div>
                    <ol>सदाफुली, लक्षाधिश, आवर्ती ठेव व इतर मुदत ठेवी. </ol>
                    <ol> आवर्ती ठेव वगळुन इतर ठेवीवर कर्ज वाटप. </ol>
                    <ol>सेवानिवृत्त प्राथ. शिक्षकांचा सपत्नीक सत्कार - गुणवंत विद्यार्थ्यांचा सत्कार </ol>
                    <ol> सेवेत असतांना मय्यत झालेल्या सभासदांचे १०० टक्के कर्ज माफ योजना</ol>
                    <ol>सभासदांच्या कुटुंबाकरीता सांत्वना निधी तात्काळ मदत रु. ३००००/- व कर्ज निरंक असल्यास रु.
                        ३,00,000/- </ol>
                    <ol> संस्थेचे मुख्य कार्यालय व सहा शाखा स्वमालकीच्या इमारतीमध्ये आहेत. सर्व शाखा संगणीकृत
                        प्रणालीद्वारे अद्यावत.</ol>
                    <ol>सभासदाच्या कायम ठेवीवर द.सा.द.शे. ०९ % व्याज दिले जाते. सभासद कर्जाचा व्याजदर द.सा.द.शे.
                        ११%
                    </ol>
                    <ol>स.सा. कर्ज रु. १५ लाख व आकस्मीत कर्ज रु. ५० हजार पर्यंत. संस्थेचे सभासदांना स्वनिधीतून
                        कर्ज वाटप
                    </ol>
                    <ol>आर. डी. वरील व्याजदर द.सा.द.शे. ०८ %</ol>
                    <ol>Q. R. कोड द्वारे घरबसल्या रक्कम स्विकारण्याची सुविधा उपलब्ध.</ol>
                    <ol>सभासदांना रु. २० लक्ष अपघात विमा संरक्षण (ऐच्छीक)</ol>
                    <ol>मासिक वर्गणी जिल्हा स्तरावरुन सरळ शाखेत जमा करण्याची सुविधा.</ol>
                    <ol> व्यवहाराची SMS द्वारे सभासदांना सूचना देण्यात येते.</ol>
                    <ol>सेवानिवृत्त शिक्षकांना नाममात्र सभासदत्व देवून ठेवी ठेवणे व त्यावरील कर्जाची सुविधा</ol>
                </div>
            </div>
        </body>

        <%- include('../partials/footer') %>